@import '_variables.scss';

// Size Mixin 
@mixin size ($width, $heigth, $padding) {
    width: $width;
    height: $heigth;
    padding: $padding;
    min-width: $wmin;
    min-height: $hmin;
}

// Buttons for each size
.btn--xs { @include size($wxs, $hxs, $gpadding);}
.btn--sm { @include size($wsm, $hsm, $gpadding);}
.btn--md { @include size($wmd, $hmd, $gpadding);}
.btn--lg { @include size($wlg, $hlg, $gpadding);}
